* {
  margin: 0;
  padding: 0;
  font-family: 'San Francisco', Arial, san-serif;
}

.container {
  background: linear-gradient(#0c0114, #4b0f4c);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

img {
  width: fit-content;
  height: 100vh;
}

.wrapper {
  width: 900px;
  height: 600px;
  margin: auto;
  display: flex;
  background: rgba(255, 255, 255, 0.344);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(27px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.navbar {
  width: 30%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.686);
  position: relative;
  overflow: hidden;
}

.nav_icon {
  display: flex;
  padding: 14px;
  margin-bottom: 12px;
  margin-top: 6px;
}

.navbar .nav_icon .btn {
  width: 12px;
  height: 12px;
  margin: 0px 4px;
  border-radius: 50%;
}

.cut {
  background-color: #fc5656;
}

.min {
  background-color: rgb(255, 200, 0);
}

.max {
  background-color: rgb(118, 213, 118);
}

.nav_lr {
  display: flex;
  align-items: center;
  color: #c3c3c3;
  font-size: 20px;
}

.search {
  background-color: #c88f8f;
  width: 78%;
  height: 30px;
  border-radius: 6px;
  margin: auto;
  padding: 3px 12px;
  display: flex;
  align-items: center;
}

.search p {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: #f4f3f3;
  align-items: center;
  gap: 6px;
}

.tb {
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.search_list {
  background-color: #a8a8a877;
  width: 70%;
  height: 14px;
  border-radius: 5px;
  margin-left: 19px;
  margin-top: 25px;
  padding: 3px 7px;
}

.search_list_ {
  background-color: #a8a8a877;
  width: 35%;
  height: 12px;
  border-radius: 5px;
  margin-left: 19px;
  margin-top: 15px;
  padding: 3px 7px;
}

.search_list2 {
  background-color: #a8a8a877;
  width: 65%;
  height: 5px;
  border-radius: 7px;
  margin-left: 19px;
  margin-top: 15px;
  padding: 0px 7px;
}

.search_list3 {
  background-color: #a8a8a877;
  width: 60%;
  height: 5px;
  border-radius: 9px;
  margin-left: 21px;
  padding: 0px 7px;
  margin-top: 12px;
}

.search_list4 {
  background-color: #a8a8a877;
  width: 35%;
  height: 5px;
  border-radius: 9px;
  margin-left: 21px;
  padding: 0px 7px;
  margin-top: 12px;
}

.search_list5 {
  background-color: #a8a8a877;
  width: 45%;
  height: 5px;
  border-radius: 9px;
  margin-left: 21px;
  padding: 0px 7px;
  margin-top: 12px;
}

.search_end {
  background-color: #b8a4a4c9;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.onclic {
  width: 40px;
  border-color: gray;
  border-width: 3px;
  font-size: 0;
  border-left-color: green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: '';
  }
  &:hover {
    color: green;
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_right {
  width: 70%;
  height: 100%;
  background: rgb(237, 237, 237);
  position: relative;
}

hr {
  margin: 0;
  border: 1px solid rgba(115, 115, 115, 0.223);
}

.panal_ico {
  width: 25px;
  height: auto;
  margin: 8px;
  background-color: #949494a1;
  padding: 0px 5px;
  padding-bottom: 3px;
  border-radius: 4px;
}

.top_nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_nav_right {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}

.top_nav_right p {
  text-shadow: none;
  font-size: 16px;
  font-weight: 100;
  color: #cfcfcf;
}

.cg {
  color: #d0d0d0;
  font-size: 25px;
}

.fi {
  color: #c8c8c8;
  font-size: 25px;
}

.io {
  color: #ffffff;
  font-size: 22px;
  background-color: #cccbcba1;
  padding: 2px 5px;
  border-radius: 4px;
}

.hero h1 {
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px;
  padding-top: 30px;
}

.hero h1 {
  font-size: 50px;
  color: #9f9f9f;
}

.hero p {
  font-size: 20px;
  color: #646464;
}

.hero sup {
  font-size: 12px;
  color: #646464;
}

.file {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  margin: 12px;
  margin-bottom: 2px;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
}

.file:hover {
  opacity: 80%;
  background-color: #cacaca7d;
}

.file:active {
  opacity: 100%;
  background-color: #cacacac4;
}

.file img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  background-color: #cdcdcd7c;
  display: flex;
  align-items: center;
  /* justify-content: end; */
}

.footer p {
  color: #898989;
  margin: 0 12px;
  width: 70%;
  overflow: hidden;
  font-size: 13px;
}

.new_file {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #d0d0d0;
  position: absolute;
  margin-right: 12px;
  right: 0;
}

button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 5px 55px;
  background-color: #108fea;
  color: rgb(246, 246, 246);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #0083e0;
}

button:active {
  background-color: #51b4fa;
}

.share_container {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: #fafafa;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.share_container a {
  position: absolute;
  left: 0;
  color: #9f9f9f;
  text-decoration: none;
  width: 215px;
  padding-left: 13px;
  overflow: hidden;
  font-size: 14px;
}

.share_container p {
  font-size: 16px;
  position: absolute;
  color: #b4b4b4;
  left: 0;
  padding-left: 13px;
}

.rx {
  color: white;
  background-color: #6464647e;
  height: 30px;
  width: 25px;
  padding: 13px;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  right: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #aaaaaa; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
